.nunito-sans {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

header {
    background-color: #262336;
    padding: 10px;
    padding-bottom: 100px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #2d2a3d;
}

.logoImg img {
    width: 70%;
}   

.topBarNav {
    margin-right: 10px;
}

.topBarNav ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    
}

.topBarNav ul li {
    list-style-type: none;
    margin: 3px;
}

.topBarNav ul li a {
    text-decoration: none;
    color: #5d647d;
    font-size: medium;
}

.topBarNav ul li a:hover {
    color: #ffffff;
    background-color: #3a3a52;
    border-radius: 3px;
}

.secondRowTopText {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

/* START OF SECOND ROW */

.secondRow h2 {
    color: #d1d0d6; 
    background-image: linear-gradient(180deg, #d1d0d6 38%, #484457 91%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    margin: 0%;
}

.secondRow h1 {
    justify-content: center;
    color: #ffffff;
    margin: 0%;
}

.secondRowBottomText {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    color: #5d647d;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.tryNow {
    padding: 10px;
    color: #ffffff;
    background-color: rgb(105,101,126);
    background: linear-gradient(0deg, rgba(105,101,126,1) 20%, rgba(171,164,201,1) 100%);;
    border-radius: 15%;
    border: solid 0px;
}

.tryNow a {
    text-decoration: none;
    color: #ffffff;
}

.tryNow :hover {
   color: #5d647d;
}

/* START OF THIRD ROW */

.thirdRow {
    display: flex;
    flex-wrap: wrap;
    background-color: #f29b66;
    padding: 20px;
    padding-bottom: 60px;
}

.controlPanel {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;   
}



.multiDomain {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.ftp {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.directSupport {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.thirdRow h4 {
    color: #dddce1;
    margin: .01em;
}

.thirdRow h3 {
    color: #ffffff;
    font-size: x-large;
    margin: .01em;
}

.thirdRow p {
    text-align: center;
    margin: .01em;
}

/* START OF FOURTH ROW */

.fourthRow {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.miniHosting{

}